.main__page {
  display: flex;
  flex-direction: column;
}

@media (min-width: 320px) {
  .home {
    display: flex;
    flex-direction: column;
    /* gap: 50px 20px; */
  }
}

@media (min-width: 1024px) {
  .home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 46px 25px;
    padding: 30px 0;
  }

  .featured__grid {
    grid-column: 1/3;
  }
}
