.featured__img {
  width: 100%;
}

.featured__title {
  font-weight: 800;
  color: var(--very-dark-blue);
}

.featured__content {
  display: flex;
  flex-direction: column;
}

.featured__text {
  font-weight: 500;
}

.read_more {
  text-transform: uppercase;
  padding: 15px 30px;
  color: var(--off-white);
  letter-spacing: 3px;
  background-color: var(--soft-red);
  transition: 0.3s;
  margin-right: auto;
}

.read_more:hover {
  background-color: var(--very-dark-blue);
}

.featured__img {
  background-size: cover;
}

.featured__img__mobile {
  width: 100%;
}

.featured__img__desktop {
  width: 100%;
}

@media (min-width: 320px) {
  .featured__body {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    gap: 30px;
  }

  .featured__title {
    font-size: 45px;
  }

  .featured__content {
    gap: 30px;
  }
}

@media (min-width: 1024px) {
  .featured__img {
    margin-bottom: 35px;
  }

  .featured__body {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0;
  }

  .featured__title {
    font-size: 65px;
    text-wrap: balance;
  }

  .featured__content {
    gap: 0;
  }

  .read_more {
    margin-top: auto;
    width: auto;
  }
}
