.header {
  padding: 20px 0;
  display: flex;
  width: 100%;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu {
  gap: 30px;
  font-size: 18px;
  font-weight: 500;
}

.menu__link {
  color: var(--dark-grayish-blue);
  transition: 0.3s;
}

.menu__item:hover .menu__link {
  color: var(--soft-red);
}

@media (min-width: 320px) {
  .menu {
    visibility: hidden;
    opacity: 0;
    display: none;
  }

  .hamburger__button {
    display: flex;
    height: 100%;
    align-items: center;
    visibility: visible;
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  .menu {
    display: flex;
    visibility: visible;
    opacity: 1;
  }

  .hamburger__button {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
