.main__page {
  display: flex;
  flex-direction: column;
}

.home {
  /* display: flex; */
}

@media (min-width: 375px) {
  .home {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1440px) {
  .main__page {
    width: 80%;
    margin: auto;
  }

  .home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 46px 25px;
    padding: 30px 0;
  }

  .featured__grid {
    grid-column: 1/3;
  }
}
