@font-face {
  font-family: 'Inter';
  src: url(/src/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: 'Inter';
  src: url(/src/assets/fonts/static/Inter-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(/src/assets/fonts/static/Inter-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(/src/assets/fonts/static/Inter-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
  --font: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  background-color: var(--off-white);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--very-dark-blue);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-grayish-blue);
}

*::-webkit-scrollbar-track {
  background: var(--grayish-blue);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-size: 15px;
  line-height: 1.7;
}
button {
  border: none;
  background: none;
}
@media (min-width: 320px) {
}
@media (min-width: 1440px) {
}
