.new {
  display: flex;
  flex-direction: column;
  background-color: var(--very-dark-blue);
  height: 100%;
}

.new__title {
  color: var(--soft-orange);
}

.new__post {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.new__post__title {
  font-weight: 700;
  color: var(--off-white);
  cursor: pointer;
  transition: 0.3s;
}

.new__post__title:hover {
  color: var(--soft-orange);
}

.new__post__text {
  color: var(--grayish-blue);
}

.separator {
  border-bottom: 1px solid var(--grayish-blue);
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (min-width: 320px) {
  .new {
    padding: 24px 20px;
    margin-bottom: 46px;
  }

  .new__title {
    font-size: 32px;
    margin-bottom: 28px;
  }

  .new__post {
    padding: 24px 0;
    gap: 16px;
  }

  .new__post__title {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .new {
    padding: 20px;
    margin-bottom: 0;
  }

  .new__title {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .new__post {
    gap: 20px;
  }

  .new__post__title {
    font-size: 24px;
  }
}
